# Git Configuration - Quantonium OS Defaults
# Customize user.name and user.email in ~/.gitconfig.local

[include]
    path = ~/.gitconfig.local

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = delta
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = false
    syntax-theme = Dracula

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    algorithm = histogram

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true

[rebase]
    autoStash = true
    autoSquash = true

[rerere]
    enabled = true

[branch]
    sort = -committerdate

[tag]
    sort = -version:refname

[alias]
    # Short aliases
    s = status -sb
    a = add
    aa = add -A
    c = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit
    p = push
    pf = push --force-with-lease
    l = pull --rebase
    f = fetch --all --prune
    d = diff
    ds = diff --staged
    co = checkout
    cb = checkout -b
    b = branch -vv
    bd = branch -d
    bD = branch -D
    st = stash
    stp = stash pop
    rb = rebase
    rbi = rebase -i
    rbc = rebase --continue
    rba = rebase --abort
    cp = cherry-pick
    rs = reset
    rsh = reset --hard

    # Log aliases
    lg = log --oneline --graph --decorate -20
    lga = log --oneline --graph --decorate --all -20
    ll = log --pretty=format:'%C(yellow)%h%Creset %s %C(cyan)<%an>%Creset %C(green)(%cr)%Creset' -20
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    # Utility aliases
    undo = reset --soft HEAD~1
    unstage = reset HEAD --
    discard = checkout --
    contributors = shortlog --summary --numbered
    today = log --since=midnight --author='$(git config user.email)' --oneline
    week = log --since='1 week ago' --author='$(git config user.email)' --oneline

    # Branch management
    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"
    fresh = "!git fetch --all --prune && git rebase origin/$(git rev-parse --abbrev-ref HEAD)"

    # Show what I've done today
    standup = "!git log --since yesterday --author=$(git config user.email) --pretty=short"

    # Find commits by message
    find-msg = "!f() { git log --all --oneline --grep=\"$1\"; }; f"

    # Find commits that changed a file
    find-file = "!f() { git log --all --oneline -- \"$1\"; }; f"

[credential]
    helper = store

[url "git@github.com:"]
    insteadOf = gh:

[url "git@gitlab.com:"]
    insteadOf = gl:

[url "git@bitbucket.org:"]
    insteadOf = bb:

# Diff and merge tool configuration
[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[merge]
    tool = nvimdiff

[mergetool]
    prompt = false
    keepBackup = false

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[mergetool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
